<div class='card'>
    <form (ngSubmit)="editBook()">
        <div class='card-header'>
          
        </div>
        <div class='card-body' style="background-color: rgb(24, 24, 26); color: white; ">
            <div class='table-responsive'>
                <table class='table'>
                    <tbody>
                        <tr>
                            <td><label style="color: white;">Book Id</label></td>
                            <td><input type="text" name="b_id" [(ngModel)] ="bookItem.bookId"/></td>
                        </tr>

                        <tr>
                            <td><label style="color: white;">Book Name</label></td>
                            <td><input type="text" name="b_name" [(ngModel)] ="bookItem.bookName"/></td>
                        </tr>

                        <tr>
                            <td><label style="color: white;">Genre</label></td>
                            <td><input type="text" name="b_code" [(ngModel)] ="bookItem.bookCode"/></td>
                        </tr>

                        <tr>
                            <td><label style="color: white;">Author Name</label></td>
                            <td><input type="text" name="b_auth" [(ngModel)] ="bookItem.authorName"/></td>
                        </tr>

                        <tr>
                            <td><label style="color: white;">Book Description</label></td>
                            <td style="text-align: justify;"><input type="text" name="b_desc" [(ngModel)] ="bookItem.description"/></td>
                        </tr>
                        <tr>
                            <td><label style="color: white;">Book StarRating</label></td>
                            <td><input type="text" name="b_rating" [(ngModel)] ="bookItem.starRating"/></td>
                        </tr>
                        <tr>
                            <td><label style="color: white;">Book imageUrl</label></td>
                            <td><input type="text" name="b_image" [(ngModel)] ="bookItem.imageUrl"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"/></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>

</div>
